@model Bangazon.Models.ProductTypeViewModels.ProductTypeViewModel

<h1>Product Categories</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model.GroupedProducts)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)

               (@Html.DisplayFor(modelItem => item.ProductCount))
                <br />
                @foreach (var productItem in item.Products)
                {
                            @*@Html.ActionLink(modelItem => productItem.Title)*@
                            @Html.ActionLink(productItem.Title, "Details", new { id = productItem.ProductId})
                            <br />
                }
            </td>

        </tr>
        }
    </tbody>
</table>
