@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>The last 20 products</h1>

<table class="table">
    <thead>
        <tr>


            <t>
                @Html.DisplayNameFor(model => model.Title)
            </t>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>


            @*<td>

                <a asp-action="Details" asp-route-id="@item.ProductId">@{item.Title}</a>

            </td>*@


            <td>

                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">@item.Title</a> 
                

            </td>
        </tr>
}
    </tbody>
</table>
